# Checkpoint files referenced in code or config
ckpt/
pretrained_models/
content_encoder/
trained_models_finetune/
trained_models_test/

# Auxiliary files
outputs/
test_outputs/

# Python
__pycache__/
*.py[cod]
*$py.class

# VSCode
.vscode/

# Traefik binary
traefik
traefik.exe
