* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: serif;
    overflow: auto;
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
}

.main-container {
    /* min-height: 200%; */
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 1.5vw;
}

/********** Main page styles ***********/

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* scroll-snap-align: start; */
}

.title-container {
    margin-top: 7vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 83vw;
}

.brief-desc {
    color: #28361890;
}

/********** Top section styles ***********/

#top-section {
    min-height: 90vh;
    background-color: #f0f0f0;
    background-image: url('./website-background.jpg');
    background-size: cover;
    text-align: center;
    margin-bottom: -36px;
}

.website-name {
    font-family: serif;
    font-size: 5vw;
    letter-spacing: -2px;
    color: #283618;
}

/********** Info section styles ***********/

#bottom-section {
    min-height: 100vh;
    background-color: #747b88;
    color: white;
    text-align: center;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 4.5em;
    margin: 1em 0 4.5em 0;
}

.description-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-title>div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-decor-bar {
    width: 70%;
    height: 0.6vw;
    background-color: white;
    border-radius: 10px;
}

.description h1 {
    margin: 0.8rem;
    font-size: 3.5vw;
}

.descript-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 3vw;
    padding: 2em;
    border-radius: 30px;
    background-color: rgba(233, 231, 231, 0.2);
    backdrop-filter: blur(10px);
    width: 85vw;
    /* box-sizing: border-box; */
}

.descript-img {
    width: 40%;
    object-fit: contain;
    border-radius: 10px;
}

.descript-section p {
    width: 40%;
    line-height: 1.5;
    flex-wrap: wrap;
    text-align: left;
    font-size: 0.9em;
}

/********** Footer styles ***********/

footer {
    min-height: 5em;
    width: 100%;
    background-color: #1b263be0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5em;
    color: white;
}

footer p {
    width: 50vw;
    font-weight: 400;
    font-size: 0.8em;
}

#credit1 {
    text-align: left;
}

#credit2 {
    text-align: right;

    a {
        color: #ffffff;
        font-weight: 100;
        font-style: italic;
    }
}

/********** Mobile layout styles ***********/

@media (max-width: 600px) {
    .website-name {
        font-size: 2rem;
    }

    .brief-desc {
        font-size: 1rem;
    }

    .description h1 {
        font-size: 2rem;
    }

    .description-decor-bar {
        height: 0.3rem;
    }

    .descript-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        gap: 3vh;
        padding: 2rem;
    }

    .descript-section p {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        font-size: 0.9rem;
    }

    .descript-img {
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
    }

    footer {
        padding: 1.5rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}