<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generative Calligraphy Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/playground.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="section" id="top-section">
            <div class="title-container">
                <h1 class="website-name">Generative Calligraphy Website</h1>
                <div class="brief-desc">This application generates texts in the style of Lantingji Xu, a famous calligraphic work by the Chinese
                calligrapher Wang Xizhi.</div>
            </div>

            <div class="playground-container">
                <div class="input-container">
                    <div class="input-group">
                        <textarea class="char-input" rows="5" cols="33" pattern="^.{1}$"
                            placeholder="Input Chinese characters" required></textarea>
                    </div>

                    <button class="submit-btn" href="#" onclick="">
                        <span class="top-key"></span>
                        <span class="text">Generate</span>
                        <span class="interrupt-symbol"></span>
                        <span class="bottom-key-1"></span>
                        <span class="bottom-key-2"></span>
                    </button>
                </div>
                <div class="output-container">
                    <div id="output-sample">
                        <img src="./static/chinese-input-prompt.png" alt="[no image available]" id="output-img" />
                        <!-- <img src="./static/wanxizhi-stamp.png" alt="[no image available]" id="stamp" /> -->
                    </div>
                    <div id="output-result-container" style="display: none">
                        <div id="output-result">
                            <div id="pictures"></div>
                        </div>
                        <button id="download-btn" onclick="handleDownload()"></button>
                    </div>

                    <div id="output-loader" style="display: none">
                        <div class="loader">
                            <p id="status">Loading</p>
                            <div class="loading">
                                <div class="load"></div>
                                <div class="load"></div>
                                <div class="load"></div>
                                <div class="load"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="bottom-section">
            <div class="description">
                <div class="description-title">
                    <div>
                        <div class="description-decor-bar"></div>
                        <h1>About the project</h1>
                    </div>
                </div>
                <div class="descript-section">
                    <img src="./static/lantingjixu.jpeg" alt="[no image available]" class="descript-img" />
                    <p>
                        In Chinese calligraphy, the art of writing Chinese characters with a brush, there are many
                        classic works that have been passed down through generations. These works are not only
                        aesthetically pleasing but also hold significant cultural and historical value. They often
                        showcase the unique styles and techniques of the calligraphers, reflecting their personal
                        artistry and the cultural context of their time. The diverse nature of these work makes it
                        challenging to generate new fonts that can capture the essence of these classic calligraphy
                        works.
                    </p>
                </div>
                <div class="descript-section">
                    <p>
                        A diffusion model is trained to tackle the task, followed by extra fine-tuning steps. An image
                        of the skeleton of a Chinese character concatenated with Gaussian noise is passed to a U-Net for
                        model training in each loop, together with its style component encoded by a pre-trained style
                        encoder.
                    </p>
                    <img src="./static/summer-model.png" alt="[no image available]" class="descript-img" />
                </div>
                <div class="descript-section">
                    <p>The style encoder is taken from DG-Font, which encodes the style of the training dataset and
                        characters in Lanting Xu.</p>
                    <img src="./static/style-encoder.png" alt="[no image available]" class="descript-img" />
                </div>
            </div>
        </div>
        <footer>
            <p id="credit1">2024-2025 @ CUHK CSE</p>
            <p id="credit2">
                Github:
                <a href="https://github.com/lylee0/New-Font-Generation-from-Classic-Calligraphy.git" target="_blank">
                    https://github.com/lylee0/New-Font-Generation-from-Classic-Calligraphy.git
                </a>
            </p>
        </footer>
    </div>

    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <script src="{{ url_for('static', path='/image-download.js') }}"></script>
</body>

</html>